<!-- A propos : debut -->
<div class="card mt-3">
    <div class="row no-gutters">
        <div class="col-6 col-md-4 mt-2">
            <img src="{{  asset('pictures/avatar.png') }}" alt="avatar icone">
        </div>
        <div class="col-12 col-sm-6 col-md-8">
            <div class="card-body">
            <h5 class="card-title"><a href="#">A propos</a></h5>
                <div class="card-body">
                    <p class="card-text">Passionné par les technologies liées au web, j’ai commencé mon apprentissage en autodidacte dès mon enfance.</p>
                    <p class="card-text">J’ai décidé d’entreprendre une reconversion professionnelle en tant que développeur web avec une spécialisation sur le framework Symfony.</p>
                    <p class="card-text"><a href="#">En découvrir plus...</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- A propos : fin -->