<!-- Technologies & Expériences : debut -->
<div class="card mt-3">
    <div class="row no-gutters">
        <div class="col-12 col-md-4 ">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Technologies</a></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">PHP</li>
                <li class="list-group-item">Symfony</li>
                <li class="list-group-item">Lavarel</li>
                <li class="list-group-item"><a href="#">Voir plus...</a></li>

            </ul>
            </div>
        </div>
        <div class="col-12 col-md-8 ">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Experiences</a></h5>
            </div>
            <div class="card-body">
                <p class="card-text">Année - Année : Poste occupé - Entreprise</p>
                <p class="card-text">Année - Année : Poste occupé - Entreprise</p>
                <p class="card-text">Année - Année : Poste occupé - Entreprise</p>
                <p class="card-text"><a href="#">Voir plus...</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Technologies & Expériences : fin -->
