{% extends 'base.html.twig' %}

{% block title %}A&O ~ Développeur Web{% endblock %}

{% block div %}
<div class="container">


{% include 'partials/about.html.twig' %}
{% include 'partials/techno_xp.html.twig' %}



</div>
{% endblock %}